body {
  text-align: justify;
}
p {
  /* line-height: 32px;   /* within paragraph */
  /* color: red;  */
  margin-bottom: 2em; /* NOT WORKING between paragraphs */
  /* line-height: 1em;  */
}
blockquote {
    background: #f9f9f9;
    border-left: 8px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-size: 1em;
}
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.smallcaps {
  font-variant: small-caps;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}